<form action="/product/<%= product.id%>?_method=PUT " method="post">
    <select name="currentStatus" id="">
            <option label="Product Received" value="Product Received"></option>
            <option label="picked" value="picked">
            <option label="out for delevery" value="out for delevery">
            <option label="delevired" value="delevired">
    </select>
    <button type="submit">Update</button>
</form>