<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">    
</head>
<body>

	<div class="wrapper">
	
    <nav>
		<div class="menu" id="">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="http://localhost:3000/work">Work List</a></li>
				<li><a href="http://localhost:3000/">TO DO List</a></li>
				<li><a href="file:///C:/Users/MehraJ/Desktop/My%20Website/Snake%20Game%202/index.html" target="_blank">Snake Game</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
		</nav>
	</div>